body {
  margin: 0px;
  padding: 0;
  color: rgb(0, 240, 52);
  background-image: url("./images/matrix.png");
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.won-lost {
  font-size: 5rem;
}
.splash-div {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.game-div {
  display: flex;
  justify-content: center;
  align-items: center;
}
h3 span {
  font-size: 3rem;
  padding: 10px;
}

#splash {
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.822);
  width: 80vw;
  height: 80vh;
  padding: 40px 20px;
}
#game {
  display: none;
  width: 80vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.822);
  margin-top: 20px;
}
#gameOver {
  display: none;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.815);
  width: 80vw;
  height: 80vh;
}
#start-button {
  background-color: black;
  color: rgb(0, 240, 52);
  border-color: rgb(0, 240, 52);
  width: 200px;
  padding: 20px;
  font-size: 1.2rem;
}
#again-button {
  background-color: black;
  color: rgb(0, 240, 52);
  border-color: rgb(0, 240, 52);
  width: 200px;
  padding: 20px;
  font-size: 1.2rem;
}
#who_won {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  text-align: center;
}
#choices {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.start-box {
  border: 2px solid rgb(137, 253, 137);
  background-color: rgba(18, 104, 18, 0.815);
  margin-top: 60px;
  padding: 10px 50px;
}
.ready {
  color: rgb(7, 7, 7);
  font-size: 1.8rem;
}
.choice-box {
  height: 8rem;
  width: 8rem;
  border: 5px solid rgb(0, 240, 52);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

#computer-choice {
  height: 8rem;
  width: 8rem;
  border: 5px solid rgb(0, 240, 52);
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  margin: 0px;
}
.score-div {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 10px 20px;
}
.emojis {
  display: flex;
  justify-content: space-around;
}
#rock,
#paper,
#scissors {
  font-size: 13rem;
  cursor: pointer;
  padding: 20px;
}

@media screen and (min-width: 700px) {
  #rock:hover {
    font-size: 15rem;
  }
  #paper:hover {
    font-size: 15rem;
  }
  #scissors:hover {
    font-size: 15rem;
  }
  #start-button:hover {
    box-shadow: 4px 4px 8px rgb(0, 240, 52);
  }
  #again-button:hover {
    box-shadow: 4px 4px 8px rgb(0, 240, 52);
  }
}
@media screen and (max-width: 680px) {
  .heading {
    font-size: 1.5rem;
  }
  .score-div h3 {
    font-size: 0.8rem;
  }
  .score-div span {
    font-size: 1.5rem;
  }
  #choices h2 {
    font-size: 1.2rem;
  }
  #rock {
    margin-top: 40px;
    font-size: 5rem;
  }
  #paper {
    margin-top: 40px;
    font-size: 5rem;
  }
  #scissors {
    margin-top: 40px;
    font-size: 5rem;
  }
  .won-lost {
    font-size: 4rem;
  }
  .start-box {
    margin-top: 10px;
    padding: 10px;
  }
  .ready {
    font-size: 1.2rem;
    padding: 0px;
    margin: 10px;
  }
}
