body {
  background-color: black;
  color: rgb(0, 240, 52);
}
h3 span {
  font-size: 3rem;
  padding: 10px;
}
#splash {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
#game {
  display: none;
}
#gameOver {
  display: none;
}
#start-button {
  background-color: black;
  color: rgb(0, 240, 52);
  border-color: rgb(0, 240, 52);
  width: 200px;
  padding: 20px;
  font-size: 1.2rem;
}
#who_won {
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
}
#choices {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.choice-box {
  height: 8rem;
  width: 8rem;
  border: 5px solid rgb(0, 240, 52);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

#computer-choice {
  height: 8rem;
  width: 8rem;
  border: 5px solid rgb(0, 240, 52);
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.score-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
.emojis {
  display: flex;
  justify-content: space-around;
}
#rock,
#paper,
#scissors {
  font-size: 13rem;
  cursor: pointer;
  padding: 20px;
}

#rock:hover {
  font-size: 15rem;
}
#paper:hover {
  font-size: 15rem;
}
#scissors:hover {
  font-size: 15rem;
}
#start-button:hover {
  box-shadow: 4px 4px 8px rgb(0, 240, 52);
  font-size: 1.5rem;
}
